/*
Custom Css
*/
html {
    position: relative;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.cart-list.open {
    right: 0;
}

.navbar>.container {
    flex-wrap: initial !important;
}

.cart-list {
    display: flex;
    flex-direction: column;
    padding: 10px
}

.cart-list .close-cart {
    width: fit-content;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .cart-list {
        width: 100%;
    }
}